$body-background-color: #e6e6e6;
$cell-background-color: #9a8297;
$cell-hover-background-color: #d0782a;
$field-border-radius: 6px;
$field-size: 300px;
$toolbar-size: 60px;
$status-size: 200px;
$tic-tac-toe-cell-padding: 10px;
$field-padding: 5px;
$cell-margin: 5px;
$cell-size: $field-size/3 - $cell-margin * 2;
$symbol-thickness: 6px;
$symbol-roundness: 3px;
$symbol-size: 50px;
$oSize: $symbol-size - $symbol-thickness;

$new-game-button--color: #9a8297;
$new-game-button--hover-color: #d0782a;
$new-game-button--border-radius: 20px;

$title-label-color: #d0782a;

body {
  background-color: $body-background-color;
}

.tic-tac-toe-game {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: $field-border-radius;
  width: $field-size;
  height: $field-size + $toolbar-size;
  padding: $field-padding;

  .tic-tac-toe-toolbar {
    width: $field-size;
    height: $toolbar-size;

    .undo,
    .redo {
      background-color: $new-game-button--color;
      width: $toolbar-size;
      height: $toolbar-size;
      border-radius: 15%;
      color: white;
      text-align: center;
      vertical-align: middle;
    }

    .undo {
      float: left;
    }
    .redo {
      float: right;
    }
  }

  .tic-tac-toe-info {
    width: $field-size;
    height: $field-size;
    background-color: white;
    border-radius: $field-border-radius;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
    opacity: 1;

    .tic-tac-toe-new-game-button {
      position: relative;
      top: 50%;
      left: 50%;
      background-color: $new-game-button--color;
      border-radius: $new-game-button--border-radius;
      color: white;
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: $new-game-button--hover-color;
      }
    }
    h1.tic-tac-toe--title-label {
      color: $title-label-color;
      margin: 30px auto;
      text-align: center;
    }
  }

  .tic-tac-toe-board {
    display: flex;
    flex-wrap: wrap;

    .tic-tac-toe-cell {
      background-color: $cell-background-color;
      margin: $cell-margin;
      width: $cell-size;
      height: $cell-size;
      border-radius: $field-border-radius;
      cursor: pointer;
      transition: background-color 0.3s;
      position: relative;

      &:hover {
        background-color: $cell-hover-background-color;
      }
      &.xSymbol {
        &:before,
        &:after {
          position: absolute;
          width: $symbol-thickness;
          height: $symbol-size;
          background-color: white;
          display: block;
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: $symbol-roundness;
        }
        &:before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }

      &.oSymbol {
        &:after {
          position: absolute;
          display: block;
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 50%;
          border: solid $symbol-thickness white;
          width: $oSize;
          height: $oSize;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.tic-tac-toe-status {
  margin: auto;
  position: absolute;
  top: 550px; //FIXME
  left: 0;
  right: 0;
  bottom: 0;
  width: $field-size;
  height: $status-size;
}
